
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <iframe src="~/js/pdfjs/web/viewer.html?file=/File/Net/C 6.0 in a Nutshell 6th Edition_27237368638.pdf" width="98%"
                height="800" frameBorder="0"></iframe>


    </div>
</body>
</html>
